
@{
    ViewBag.Title = "AnaSayfa";
}
<div class="block">
    <h2>AnaSayfa</h2>

    <hr />

    <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
    <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus.</p>
    <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>

</div>
<div class="block">
    <h2>AnaSayfa</h2>

    <hr />

    <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
    <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus.</p>
    <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>

</div>

