
@{
    ViewBag.Title = "Iletisim";
}

<h2>Iletisim</h2>

@*ul>li*3>lorem10*@
<ul>
    <li>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</li>
    <li>Ut fusce varius nisl ac ipsum gravida vel pretium tellus.</li>
    <li>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</li>
</ul>