
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage3.cshtml";
}

<h2>Index</h2>

<p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>

<p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>

@section linkler
{
    <li>
    <a href="#">Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</a>
</li>
    
    
    }



